.zoomable {
    padding: 10px;
    transition: transform .2s;
    display: inline-block;
    width: 6%;
}

.zoomable:hover {
    transform: scale(1.5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dca9f0;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(217, 142, 247);
}

#navigationBar {
    margin: auto;
    width: 95%;
}

#mainContainer {
    margin: auto;
    width: 95%;
}

#headerSigns {
    margin: auto;
    width: 90%;
}

.mainQuote {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 20px;
}

.white-label-20 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    text-align: center;
}

.white-label-30 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
    text-align: center;
    padding: 20px;
}

.white-label-17 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 85%;
    height: 180%;
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    height: 80%;
    width: 80%;
    text-align: center;
    border: 1px solid #dca9f0;
    background-color: rgba(216, 191, 216, 0.849);
}